[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
decouple = "*"
rave-python = "*"
python-dotenv = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.11"
pypi-AgEIcHlwaS5vcmcCJGZhYjU0MzczLTg3MzEtNDIyOS04Zjk4LWExNjIzMDY4ZjJkZgACKlszLCI2YjE0NTg5Yy0yMDFlLTQyMDYtYjczZC03NGFjZTU5ZmM3NmMiXQAABiApXzr_KrT-EWIloEae_mfSzQBvYxbrQXS-CdJF38uebQ